<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="Suite"  verbose="1" parallel="tests" thread-count="1"><test name="test0"><parameter name="DeviceId" value="c3e8ced89904"></parameter><parameter name="Port" value="5566"></parameter><classes><class name="AppiumTest"><methods><include name="ProfileUpdate" /><include name="ProfileUpdateWithEmptyName" /></methods></class></classes></test></suite>